termcolor
colorama
pdfkit
PyPDF2
wkhtmltopdf #Including Desktop CounterPart
httplib2
pyinstaller
oauth2client
google_api_python_client
google-auth-httplib2 
google-auth-oauthlib
mysql-connector-python
pandas
#git+git: //github.com/ArthurVardevanyan/pdfImposing@master#egg-pdfImposing
